<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App Html{% endblock %}</title>
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('css/bs/bootstrap.min.css') }}" />#}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="body">

    <h1 class="h1">{% block head %}App Html{% endblock %}</h1>

    <div class="txt-block">
        {% block body %} ... {% endblock %}
    </div>

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>

