/*@import url('~bootstrap/dist/css/bootstrap.css');*/
@import '~bootstrap';

.body{
  background:#ddd;
  color:#555;
  font-family: Tahoma, Verdana, sans-serif;
}
.h1 {
  text-align:center;
  padding:20px
}
.welcome {
  background: #eee;
  margin:0 auto 50px auto;
  padding:25px;
  text-align:center;
  border:solid 1px silver;
  border-radius: 25px 0 25px 0;
  box-shadow: 0 0 15px green;
  max-width:700px;
}
.txt-block {
  background: #eee;
  margin:0 auto 50px auto ;
  padding:25px;
  text-align:center;
  border:solid 1px silver;
  border-radius: 25px 0 25px 0;
  box-shadow: 0 0 15px pink;
  max-width:700px;
}
.txt-block p {
  text-align: left;
  font-family: Tahoma, Verdana, sans-serif;
}
.italic{
  font-style: italic
}
.rating-link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}















