/*@import url('~bootstrap/dist/css/bootstrap.css');*/
@import '~bootstrap';
@import url('./font/lato/lato.css');

body{
  font-family: 'Lato', Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color:#ccc !important;
  background: #30353a;
}

/* Dark Theme Amendments */

table {
  color:#ccc !important;
}

.modal-content {
  background: #282b34;
}

.card {
  background: #282b34;
}

.nav-item {
  color:#bbb;
}

.border {
  border-color: #777 !important;
}

.nav-item:hover {
  color:#fff;
}

a {
  color: #2c99d4;
}

a:hover {
  color: #6abcfe;
  text-decoration: none;
}

/* End Dark Theme */

.body{
  font-family: "Times New Roman", Times, serif;
  background:#000 !important;
  color:#555;
}
.h1 {
  text-align:center;
  padding:20px
}
.welcome {
  background: #eee;
  margin:0 auto 50px auto;
  padding:25px;
  text-align:center;
  border:solid 1px silver;
  border-radius: 25px 0 25px 0;
  box-shadow: 0 0 15px green;
  max-width:700px;
}
.txt-block {
  background: #eee;
  margin:0 auto 50px auto ;
  padding:25px;
  text-align:center;
  border:solid 1px silver;
  border-radius: 25px 0 25px 0;
  box-shadow: 0 0 15px pink;
  max-width:700px;
}
.txt-block p {
  text-align: left;
  font-family: Tahoma, Verdana, sans-serif;
}
.italic{
  font-style: italic
}
.rating-link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}















